.container{
    max-width: 50rem;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-family: "Inter", sans-serif;
        color: #356F7A;
    }
}